<!DOCTYPE html>
<html>
  <head>
    <title>YouTube Downloadr</title>
    <link rel="icon" type="image/x-icon" href="favicon.ico?v=1.1" />
    <link rel="stylesheet" href="./static/style.css" />
    <script src="./static/script.js" type="text/javascript"></script>
  </head>

  <body>
    <center>
      <pre style="color: #4d466b; user-select: none">
__  __           ______      __            ____                      __                __    
\ \/ /___  __  _/_  __/_  __/ /_  ___     / __ \____ _      ______  / /___  ____ _____/ /____
 \  / __ \/ / / // / / / / / __ \/ _ \   / / / / __ \ | /| / / __ \/ / __ \/ __ `/ __  / ___/
 / / /_/ / /_/ // / / /_/ / /_/ /  __/  / /_/ / /_/ / |/ |/ / / / / / /_/ / /_/ / /_/ / /    
/_/\____/\__,_//_/  \__,_/_.___/\___/  /_____/\____/|__/|__/_/ /_/_/\____/\__,_/\__,_/_/     
                                                                                                                                                                                  
        </pre
      >
      <div class="column-container">
        <div class="row-container">
          <input
            type="text"
            id="url-input"
            placeholder="Enter YouTube playlist URL here"
            style="width: 70%"
            value="https://www.youtube.com/playlist?list=PL-CysCjxctyfRA37UaV_6fiv4VxNba56n"
          />
          <button onclick="loadData()" style="width: 28%">Load</button>
        </div>

        <div class="row-container">
          <select name="format-select" id="format-select" style="width: 18%">
            <option value="mp3" selected>MP3</option>
            <option value="wav">WAV</option>
            <option value="flac">FLAC</option>
          </select>

          <button onclick="selectAll()" style="width: 34%">Select all</button>
          <button
            id="download_button"
            onclick="downloadSelected()"
            style="width: 45%"
          >
            Download selected
          </button>
        </div>

        <div class="row-container">
          <div style="display: flex; flex-direction: column; text-align: start;">
            <p id="loaded_values"></p>
            <p id="download_finished"></p>
          </div>

          <div style="display: flex; flex-direction: column">
            <label for="dest_folder" id="dest_folder_label"
              >Target folder</label
            >
            <input type="text" id="dest_folder" value="Downloads" />
          </div>
        </div>
      </div>

      <div id="loader" style="display: none"></div>

      <div id="table-container" style="display: none">
        <table>
          <thead>
            <tr>
              <th style="width: 1px">Select</th>
              <th>Title</th>
              <th style="width: 85px">Download %</th>
            </tr>
          </thead>
          <tbody id="table-body"></tbody>
        </table>
      </div>
    </center>
  </body>
</html>
